html{
   background-color: rgb(228, 216, 200); 
   font-size: 16px;
   height: 100%;
   width: 100%;
}

header{
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    border: 0.2rem solid black;
    z-index: 2;
    background-color:  rgb(170, 162, 151);
}

.logo{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    flex-wrap: wrap;
    height: 100%;
}

.logo img{
    height: 80%;
    width: auto;
    margin: 0px .5rem;
}

.name{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: baseline;
    padding: 10px;
}

.name h1{
    font-size: 1.5rem;
    font-family: "Maven Pro";
}

.name h2{
    font-size: 0.75rem;
    font-family: "Maven Pro";
    margin-top: 25px;
    margin-left: 5px;
}

body{
    position: relative;
    height: 200%;
}

main{
    position: relative;
    top: 70px;
    display: grid;
    grid-template: repeat(3, 2fr) 1fr/repeat(12, 1fr);
    height: calc(100% - 70px);
    width: 100%;
}

.mr-websites{
    grid-area: 1 / 1 / span 1 / span 12;
    position: relative; 
}

.mr-websites p{
    text-align: center;
    font-size: 2rem;
    color: rgb(240, 230, 221);
}

.mr-websites .bgd-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.built{
    grid-area: 2 / 1 / span 2 / span 12;
    text-align: center;
    color: blanchedalmond;
    background-color: rgb(39, 38, 36);
}

.footer-img{
    grid-area: 4 / 1 / span 1 / span 12;
    position: relative;
    color: blanchedalmond;
} 

.footer-img img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.footer-img .overlay:before{
    content: " ";
    z-index: 1;
    position: absolute;   
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.skills{
    grid-area: 4 / 1 / span 1 / span 6;
    justify-content: space-evenly;
    text-align: center;
    color: blanchedalmond;
    z-index: 2;
}

.contact{
    grid-area: 4 / 7 / span 1 / span 6;
    justify-content: space-evenly;
    text-align: center;
    color: blanchedalmond;
    z-index: 2;
}
    
svg{
    stroke-width: 3;
    stroke-linecap: round;
    fill: rgba(red, green, blue, 1);
    height: 1.25rem;
    width: 1.25rem;
    object-fit: contain;
    z-index: 2;
}